[submodule "vim/vimdir/bundle/command-t"]
	path = vim/vimdir/bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "vim/vimdir/bundle/supertab"]
	path = vim/vimdir/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/vimdir/bundle/surround"]
	path = vim/vimdir/bundle/surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/vimdir/bundle/syntastic"]
	path = vim/vimdir/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
