[submodule "vim/vimdir/bundle/command-t"]
	path = vim/vimdir/bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "vim/vimdir/bundle/supertab"]
	path = vim/vimdir/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/vimdir/bundle/surround"]
	path = vim/vimdir/bundle/surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/vimdir/bundle/syntastic"]
	path = vim/vimdir/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/vimdir/bundle/powerline"]
	path = vim/vimdir/bundle/powerline
	url = https://github.com/Lokaltog/vim-powerline
[submodule "vim/vimdir/bundle/vim-colors-solarized"]
	path = vim/vimdir/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "vim/vimdir/bundle/ctrlp"]
	path = vim/vimdir/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim
