[submodule "vim/vimdir/bundle/supertab"]
	path = vim/vimdir/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/vimdir/bundle/surround"]
	path = vim/vimdir/bundle/surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/vimdir/bundle/powerline"]
	path = vim/vimdir/bundle/powerline
	url = https://github.com/Lokaltog/vim-powerline
[submodule "vim/vimdir/bundle/vim-colors-solarized"]
	path = vim/vimdir/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "vim/vimdir/bundle/ctrlp"]
	path = vim/vimdir/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule "vim/vimdir/bundle/python-mode"]
	path = vim/vimdir/bundle/python-mode
	url = https://github.com/klen/python-mode
